@import '~bootstrap/scss/bootstrap';
@import 'colors';

// hidden: options, create, update website, delete post
.options-btn,
.create-website-btn,
.create-blog-btn,
.update-website-btn,
.update-blog-btn,
.delete-website-btn,
.delete-blog-btn {
  visibility: hidden;
}

.jumbotron {
  background-color: skyblue;
}


.shown-blog {
  background-color: #3198ff;
}

.shown-website {
  background-color: #41b534;
}

::-webkit-scrollbar {
  display: none;
}
#team {
  position: absolute;
	margin: auto;
	top: 90%;
	left: 80%;
}
#clickme {
	position: absolute;
	margin: auto;
	top: 71%;
	left: 42%;
}

#clickme2 {
	position: absolute;
	margin: auto;
	top: 73.8%;
	left: 44%;
}
#holidays {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	text-align: center;
	font: 10em "Codystar", sans-serif;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

html, body {
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
min-height:100%;
}
#snow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image:
    url(https://lh3.googleusercontent.com/KEz6jMM7I3w-J8F0rXYP81SSyv5riHEqpJSuMVN2F-R_PZuT1pM37_fUjXUwFl2GuWZ8B-60rvgM9cFlO82lwYBX2_OfE49Sf5ifhxxqw1LhQ7DaZE86kjP8gH7VVIMXlTOKrci1eZR7OwHXeoqP6H0JsKNiwFHVc2uoBg5Cc2Icl7dYJrgu9I4mbw2wRyeTaMWK5v1NtL3XY8sDK30HM8lQeH-np406386UI1XDFO01YUYpBi3AYiywvThLjLPWjmIAUnSqmMoUugNEN7XGErUwmBlb-MmlUMVU4tZohdmuibEjULoJHcz5i5_6PD1t1GaT2_-FUjUXqQdt4u2wpCnkF3alHBjCpXeXe7FZU6ZnZ2e2YVnEfvPVhAbwbS4e-Ym-RLR7GKSfWawTMXztnUTAaohKdCwRiGJCGrds5PE24XZplU667apKiGJd4ox3AMbWiyn-61LPywEQzNqip1xUbt8eBMQgfhB-q_ILSoDpFIvZxGrNOtS54r56LTR2uVLVgeA05p0QGmDxxtCdKlR5vACBgcKVp6sIlcM6X8r1yBcQ6xj7aJyTi6CMzL5Zvn-ZAamgXfvjpgvg6yW8jhfkpzx-PArAYXhjN2baRaeuwcqP2pRCwGPgElVayB1NopKtcNvbOwxoDt1yew_pta4=s500-no),
    url(https://lh3.googleusercontent.com/BDJhHd2J1sIbQBJ81umhCJpllLAlFVO7slcGWYgDCa6HoheIOvnSkXKbzM7aD5paMP2HvesJ8vOMpO5nWaN-Z_IG1m94BFZ9iNKzIe0jm83NdjJ1fCOLqsdwzYR2qycKffUKHNAWJUD2hqx3ufK2uGLc-wXQRgOPLWa2P4KaHTeJTCKJOesbmHcgowMz5UyfmOPDWUWRisFyP3lQLQWQNUPUSvXtjsx4WNkAmF2dHwc6uRcj6upC012aGnyO0Nh5VzegzMQOvtuC-qM_JxkCGRkbOTBTMTRJ8zvhEvNqwLm0YghAR85TXSNkv3dA2AH7ak1X6WpJ7--JaEXkr-FoEs-S0Qidnci_O2Ba34LQrt8PoJqt748zyYtG6pJhL5rXKPDOTa1m4tD8pQvB_tEVus81OLWM9wmSVsYxVuIMvnWBMQPfFVAVNj-vFDDXDGqy4UfTrNBITQl-KksILE5JTRy_ePnMle_fD79lCq_8ePVqz0HMwnvD7JRv6-6HRyMQ1MhvGQZaC59yk58HKnbUVUUfoJ1N-gSWDXPuSD3NAGZzzQPJM2NmbQIIjqf5deCOK2PvQwt1NkO1u-7zgzvsbRqg4iM3ipwZhzHKQR1lu52B5M6j_jX2K2UtdqzMM72SXEzavBOnOr0bJpowIfPfDl0=s300-no);

  z-index: 1;
  pointer-events: none;
  -moz-animation: snow 10s linear infinite;
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@-moz-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}

@-webkit-keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}

@keyframes snow {
  0% { background-position: 0 0, 0 0, 0 0; }
  100% { background-position: 500px 1000px, 0 400px, 0 300px; }
}

.snowflakes {
	width: 100%; height: 1200px;
	position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
}
i:after, i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}


.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}


$flakes: 150; // match flakes in mark up
$snowColor: #ffffff;

// Colors
$topGradient: #00A3EF;
$bottomGradient: #B7E7FC;
$textColor: #ffffff;


@mixin keyframes($name) {
    @-webkit-keyframes $name { @content; }
    @-moz-keyframes $name { @content; }
    @-o-keyframes $name { @content; }
    @keyframes $name { @content; }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}


#holidays {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	text-align: center;
	font: 10em "Codystar", sans-serif;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

#team{
  position: absolute;
	margin: auto;
	top: 80%;
	left: 90%;
}


.snowflake {
  display: inline-block;
  height: 20px;
  width: 20px;
 background-image:
  linear-gradient(180deg, rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%),
  linear-gradient(90deg,  rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%),
  linear-gradient(45deg,  rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%),
  linear-gradient(135deg,  rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%);
  border-radius: 50%;

  -webkit-transform-origin: left -20px;
  -moz-transform-origin: left -20px;
  -ms-transform-origin: left -20px;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

#snow {
  position: absolute;
	width: 100%;
	height: 100%;
}
